#banner
  .banner_content
    %h1 File Cabinet
    %p Your taught organized !
    %button= link_to "Sign Up", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2
        %p Fugiat consequat exercitation qui occaecat culpa excepteur excepteur labore. Nisi nostrud non velit aute incididunt velit est ad sint quis enim. Amet non fugiat ut aliqua id exercitation tempor eu non ea ea amet aliqua deserunt incididunt consequat. Amet culpa ex dolore eiusmod qui qui anim Lorem aliquip sit proident et quis consectetur culpa. Incididunt adipisicing minim dolore mollit duis et exercitation exercitation sint enim aliqua cillum consequat consectetur dolore voluptate. Consequat sunt consequat qui elit aliquip aliqua reprehenderit consequat velit laborum qui. Aute irure aliquip mollit ad id consequat elit id aliquip in incididunt laborum ad.

#bottom_cta
  .wrapper
  %h2 Go Ahead!
  %br
  %button= link_to "Try it now!", new_user_registration_path
