.wrapper_with_padding
  #doc_show
    %h1.title= @document.title
    %p= simple_format(@document.content)

    .buttons
      = link_to "Update Document", edit_document_path(@document), class: "button"
      = link_to "Delete Document", document_path(@document), method: :delete, data: {confirm: "Are you sure ?"}, class: "button"
